# Размеры карты
WIDTH=15
HEIGHT=10

# Максимальное количество объектов каждого типа
IWE_MAX_COUNT=2
TREE_MAX_COUNT=2
HARE_MAX_COUNT=2
WOLF_MAX_COUNT=1
BERRIES_MAX_COUNT=3

# Интервал появления (в циклах)
IWE_MAX_LEVELS_OUT=4
TREE_MAX_LEVELS_OUT=5
HARE_MAX_LEVELS_OUT=7
WOLF_MAX_LEVELS_OUT=10
BERRIES_MAX_LEVELS_OUT=9

# Время жизни (в циклах)
IWE_MAX_LEVEL=1000
TREE_MAX_LEVEL=900
BERRIES_MAX_LEVEL=100
