IWE_MAX_COUNT=5
TREE_MAX_COUNT=5
HARE_MAX_COUNT=5
BERRIES_MAX_COUNT=5

IWE_MAX_LEVELS_OUT=10
TREE_MAX_LEVELS_OUT=10
HARE_MAX_LEVELS_OUT=10
BERRIES_MAX_LEVELS_OUT=10


IWE_MAX_LEVEL=100
TREE_MAX_LEVEL=100
BERRIES_MAX_LEVEL=100


WIDTH=30
HEIGH=30